gdown
matplotlib
numpy
pyvista
scikit-image
scipy
seekpath
spglib
trimesh
ase
sympy
PyYAML

sphinx_design
sphinx-copybutton
sphinx-gallery
numpydoc
pypandoc
pydata-sphinx-theme
scikit-learn
sphinxcontrib-yaml
sphinxcontrib-autoyaml
