gdown
matplotlib
numpy
pyvista
scikit-image
scipy
seekpath
spglib
trimesh
ase
sympy
PyYAML
scikit-learn

sphinx_design
sphinx-copybutton
sphinx-gallery
numpydoc
pypandoc
pydata-sphinx-theme
sphinxcontrib-yaml
sphinxcontrib-autoyaml
wheel